@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula Bold.ttf');
  src: local('moula Bold'), local('moula-bold'),
  url('../fonts/moula/Moula Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula ExtraBold.ttf');
  src: local('moula ExtraBold'), local('moula-ExtraBold'),
  url('../fonts/moula/Moula ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula Light.ttf');
  src: local('moula Light'), local('moula-Light'),
  url('../fonts/moula/Moula Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula Medium.ttf');
  src: local('moula Medium'), local('moula-Medium'),
  url('../fonts/moula/Moula Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula.ttf');
  src: local('moula Regular'), local('moula-Regular'),
  url('../fonts/moula/Moula.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula SemiBold.ttf');
  src: local('moula SemiBold'), local('moula-SemiBold'),
  url('../fonts/moula/Moula SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'moula';
  src: url('../fonts/moula/Moula SemiBold.ttf');
  src: local('moula SemiBold'), local('moula-SemiBold'),
  url('../fonts/moula/Moula SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



