@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}


.header {
  &-cont {
    z-index: 4;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 71px 51px 24px;
    transition: all 0.3s ease-out;

    .txt {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .min-log {
      width: 76px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
        height: auto;
      }
    }

  }

  &-menu {
    z-index: 4;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

  }
}

.menu-wrap {
  height: 100%;
  display: flex;
  position: relative;

  .tracking-line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
  }

  .tracking-el {
    transition: all 0.3s ease-out;
    width: 2px;
    left: 0;
    position: absolute;
    background: $main-color;
    height: var(--eh);
    top: var(--et);
  }

  .men {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 27px;

    li {
      display: flex;
      writing-mode: vertical-lr;

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.3s ease-out;

        &.active, &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  li {
    display: flex;

    a, span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      transition: all 0.3s ease-out;
    }

    a:hover, span {
      color: $main-color;
    }
  }
}